<div class="content-card">
    <div class="toolbar">
        <h1 [@animate]="{value:'*',params:{delay:'200ms',opacity:'0'}}" class="s-title">
            Список стран
            <button class="add-button" mat-button mat-stroked-button routerLink="/countries/new">Добавить страну</button>
        </h1>
    </div>
    <div class="s-list" [@animate]="{value:'*',params:{delay:'200ms',opacity:'0'}}">
        <ul>
            <li *ngFor="let country of countries$ | async">
                {{country.name}} <button mat-button [routerLink]="['/countries/edit', country.id]">Редактировать</button>
            </li>
        </ul>
    </div>
</div>

