<div class="content-card">
    <div class="toolbar">
        <h1 [@animate]="{value:'*',params:{delay:'200ms',opacity:'0'}}" class="s-title">
            Список пользователей
            <button class="add-button" mat-button mat-stroked-button routerLink="/users/new">Добавить пользователя</button>
        </h1>
    </div>
    <div class="s-list" [@animate]="{value:'*',params:{delay:'200ms',opacity:'0'}}">
        <ul>
            <li *ngFor="let user of users ">
                {{user.name}} <button mat-button [routerLink]="['/users/edit', user.id]">Редактировать</button>
            </li>
        </ul>
    </div>
</div>

